* {
    font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

a {
    cursor: pointer;
    color: #3b5998;
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menubar {
    display: flex;
    width: 100%;
    height: 84px;
    background-color: #3b5998;
    justify-content: center;
}

.menubar-items {
    width: 964px;
    font-size: 11px;
    text-align: right;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bluewire-logo {
    margin: 16px 0 0 19px;
}

.content, .content-pl {
    display: flex;
    padding-top: 35px;
    background: transparent url(gradient.jpg) bottom center no-repeat;
    background-size: 100% 100%;
    justify-content: center;
}

.content {
    height: 345px;
}

.content-register {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100% 100%;
    padding-top: 0;
    margin: 0 auto;
}

.content-stuff-login {
    width: 642px;
    height: 253.5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.content-languages {
    display: flex;
    padding-top: 35px;
    height: 473px;
    justify-content: center;
}

.content-pl {
    height: 374px;
}

.content-area {
    display: flex;
    margin: 0 auto;
    padding: 0 12px;
    width: 964px;
    position: relative;
}

.content-area-register {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding: 75px 0 0 0;
}

.content-header {
    margin: 0;
    margin-top: 1px;
    margin-left: 18px;
    font-size: 20px !important;
    line-height: 29px;
    word-spacing: -1px;
    color: #203360;
    font-weight: bold;
}

.content-map {
    width: 537px;
    height: 195px;
    margin: 20px 0 0 1px;
    background: transparent url(welcome-map.png) top left no-repeat !important;
}

.content-left {
    float: left;
    width: 536px;
    padding-bottom: 20px;
}

.content-right {
    width: 396px;
    padding: 0;
    float: right;
}

.sign-up-header {
    margin-left: 20px;
}

.sign-up-headline, .sign-up-tagline {
    font-size: 20px !important;
    line-height: 29px;
    word-spacing: -1px;
    color: #203360;
}

.sign-up-headline {
    font-weight: bold;
}

.sign-up-tagline {
    padding-top: 1px;
}

#sign-up-content {
    padding-left: 30px;
    margin: 4px 0 0 15px;
}

#sign-up-content-register {
    margin: 4px 0 0 15px;
}

#sign-up-content-register .sign-up-table {
    margin: 0 0 7px 0;
}

#sign-up-content-register .label {
    font-size: 11px;
    color: #666;
    font-weight: bold;
    text-align: right;
    padding-right: 3px;
    width: 90px;
}

#sign-up-content-register .input-text, #sign-up-content-register .input-password {
    width: 221px;
    border: 1px solid #96a6c5;
    margin-top: 2px;
}

#sign-up-content-register #provide-warning a {
    font-size: 11px;
    text-decoration: none;
    color: #3b5998;
}

#sign-up-content-register #provide-warning {
    font-size: 9px;
    margin-left: 1px;
}

#sign-up-content .sign-up-table {
    margin: 0 0 7px 0;
}

#sign-up-content-register .sign-up-table {
    margin: 0 0 7px 0;
}

#sign-up-content-register select {
    margin: 2px 0 0 0;
}

#sign-up-content .label {
    font-size: 11px;
    color: #1d2a5b;
    text-align: right;
    padding-right: 3px;
    width: 90px;
}

.field-container {
    display: inline-block;
    position: relative;
    width: auto;
}

#sign-up-content .input-text, #sign-up-content .input-password {
    width: 206px;
    border: 1px solid #96a6c5;
    margin-top: 2px;
}

.input-text, .input-password {
    margin: 0;
    padding-bottom: 5px;
}

#sign-up-content select {
    margin: 2px 0 0 0;
}

select {
    border: 1px solid #bdc7d8;
    font-size: 11px;
    padding: 2px;
}

#sign-up-content #provide-warning {
    font-size: 9px;
    margin-left: 1px;
}

#sign-up-content #provide-warning a {
    text-decoration: none;
    color: #3b5998;
}

.sign-up-button, .sign-up-button-message {
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: normal !important;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background-color: #69a74e;
    border: 1px solid;
    border-color: #3b6e22 #3b6e22 #2c5115;
    color: #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}

.sign-up-button {
    padding: 3px 6px;
    margin-bottom: 115px;
    margin-left: 100px;
}

.sign-up-button-message {
    display: inline-block;
    padding-top: 3px;
    width: 65px;
    font-size: 13px;
    height: 21px;
}

.sign-up-message-actual-content {
    width: 510px;
    margin-left: 20px;
    margin-top: 15px;
}

.sign-up-message-span {
    font-size: 13px;
    margin-left: 7px;
}

#footer {
    color: #737373;
    font-size: 11px;
    margin: 0 auto;
    width: 980px;
}

#footer-container {
    border-top: 1px solid #eee;
    margin-bottom: 30px;
    padding: 8px;
    position: relative;
}

#content-curve {
    background-color: #fff;
    border-bottom: 1px solid #b3b3b3;
    height: 8px;
    font-size: 1px;
}

.lfloat {
    float: left;
}

.ui-text-subtitle {
    line-height: 14px;
    color: #808080;
    font-size: 11px;
}

.rfloat {
    float: right;
}

#footer a {
    color: #385495;
    text-decoration: none;
    white-space: nowrap;
}

.login-button {
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: normal !important;
    padding: 3px 6px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background-color: #5b74a8;
    border: 1px solid;
    border-color: #29447e #29447e #1a356e;
    color: #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}

textarea, .input-text, .input-password {
    border: 1px solid #bdc7d8;
    font-size: 11px;
    width: 147px;
    padding: 3px;
}

.navbar-table tr td {
    padding-left: 12px;
}

input + label {
    padding-left: 1px;
    line-height: 14px;
}

.navbar-table .login-form-label-remember {
    padding-top: 1px;
}

.navbar-table {
    padding-top: 10px;
    padding-right: 20px;
}

.input-checkbox {
    border: 0;
    vertical-align: middle;
}

.navbar-table label {
    color: #98a9ca;
    margin: 0;
    font-weight: normal;
}

.navbar-table a, .navbar-table a:hover {
    color: #98a9ca;
}

.welcome-useragent {
    margin: 0 auto 0;
    padding: 20px;
    position: relative;
    width: 964px;
}

.welcome-useragent .language ul {
    display: inline;
}

.welcome-useragent .language li {
    display: inline;
    float: left;
    direction: ltr;
    font-size: 11px;
    padding: 0 11px 0 0;
    margin: 0;
}

.welcome-useragent .language a {
    text-decoration: none;
    color: #385495;
}

.welcome-useragent .language a:hover {
    text-decoration: underline;
}

.more-langs {
    font-size: 18px;
    line-height: 10px;
    word-spacing: -1;
    padding: 0;
    margin: 0;
}

.language-selection {
    width: 600px;
    height: 473px;
    border: 1px solid #cfcfcf;
    margin: 0 auto
}

.language-selection .selection-title {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.selection-title {
    background-color: #6d84b4;
    border: 1px solid #3b5998;
    border-bottom: none;
    padding-bottom: 10px;
    margin: 0;
}

.selection-title span {
    display: block;
    padding: 5px 10px;
}

.language-dialog {
    background: #fff;
    border: 1px solid #555;
    border-top-width: 0;
}

.sign-up-message {
    display: flex;
    background-color: #edeff4;
    border-bottom: 1px solid #d8dfea;
    color: #203360;
    font-size: 13px;
    font-weight: bold;
    line-height: normal;
    height: 55px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.sign-up-message-content {
    width: 964px;
    height: 55px;
}

.dialog-buttons {
    padding: 15px 20px;
    text-align: center;
    background-color: #f2f2f2;
    border-top: 1px solid #e5e5e5;
    border-radius: 0 0 4px 4px;
}

.top-area {
    color: #333;
	padding: 14px 0 0 17px;
	border-top: 2px solid #d3dae6;
    height: 66px;
    width: 600px;
}

.top-area-login {
    color: #333;
    margin:15px 30px 0 30px;
    width: 600px;
}

.text-headline {
	font-size: 15px;
	font-weight: bold;
}

.text-tagline {
	font-size: 11px;
	margin-top: 4px;
}

.text-area {
	margin-top: 6px;
	width: 465px;
	float: left;
}

.register-picture {
	float: left;
	margin: 0 15px 0 0;
}

.bottom-area {
    display: flex;
    color: #666;
    border-top: 1px solid #d0d0d0;
    padding-top: 15px;
	background-color: #ededed;
    justify-content: center;
    width: 600px;
    height: 223px;
    margin-bottom: 20px;
}

.bottom-area-login {
    color: #666;
    border-top: 1px solid #d0d0d0;
    padding-top: 15px;
    width: 600px;
    height: 177px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.alert-wrapper {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.alert {
    background-color: #F2F3F8;
    width: 500px;
    height: 140px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.text-alert {
    font-size: 16px;
    padding-left: 14px;
}

.top-area-dialog {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #3b5998;
    color: white;
}

.bottom-area-dialog {
    font-size: 13px;
}

.error-paragraph {
    padding-left: 20px;
    padding-top: 5px;
}

.button-done {
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: normal !important;
    text-align: center;
    vertical-align: middle;
    padding: 4px 12px;
    margin-left: 445px;
    margin-top: 15px;
    white-space: nowrap;
    border: 1px solid #ccc;
    color: #000;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}

.header-login {
    color: #1c2a47;
    font-size: 16px;
}

.lang-link {
    font-size: 12px;
}

.warning-message-container {
    padding: 10px;
	border-width: 1px;
	border-style: solid;
    background-color: #fff9d7;
	border-color: #e2c822;
    margin-bottom: 15px;
}

.warning-message-login {
    text-align: left;
    font-size: 13px;
    color: #333;
    margin: 0;
    padding: 0;
}