<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='bluewire-favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Login | Bluewire</title>
</head>
<body>
    <div class="menubar">
        <div class="menubar-items">
            <a href="/"><img src="{{ url_for('static', filename='bluewire-string-logo.svg') }}" alt="Bluewire Logo" class="bluewire-logo"></a>                
        </div>
    </div>
    <div class="sign-up-message">
        <div class="sign-up-message-content">
            <div class="sign-up-message-actual-content">
                <a class="sign-up-button-message" href="/register">Sign Up</a>
                <span class="sign-up-message-span">
                    Bluewire helps you connect and share with the people in your life.
                </span>
            </div>
        </div>
    </div>
    <div class="content-register">
        <div class="content-area-register">
            <div class="content-stuff-login">
                <div class="top-area-login">
                    <h2 class="header-login">Bluewire Login</h2>
                </div>
                <div class="bottom-area-login">
                    <div class="warning-message-container">
                        <h2 class="warning-message-login">You must log in to see this page.</h2>
                    </div>
                    <div class="login-form-content">
                        <div class="login-row">
                            <label id="label-email" for="email">Email:</label>
                            <input id="email" class="input-text" type="text" name="email">
                        </div>
                        <div class="login-row">
                            <label id="label-password" for="password">Password:</label>
                            <input id="password" class="input-text" type="text" name="password">
                        </div>
                        <label class="persistent">
                            <input type="checkbox" class="input-checkbox " id="persistent-checkbox" name="persistent" value="1">
                            <span id="persistent-login-span">Keep me logged in</span>
                        </label>
                        <div id="login-buttons" class="login-row">
                            <button class="login-button large-button">Login</button> 
                            or
                            <strong><a class="login-link-sign-up" href="/register">Sign up for Bluewire</a></strong>
                        </div>
                        <p class="login-row reset-password-paragraph"><a href="/reset-pass">Forgot your password?</a></p>
                    </div>
                </div>
            </div>
            <div class="linear-language">
                <ul>
                  <li><a href="/">English (US)</a></li>
                  <li><a href="/pl">Polski (PL)</a></li>
                  <li><a href="/de">Deutsch (DE)</a></li>
                  <li><a href="/es">Español (ES)</a></li>
                  <li><a href="/ua">Українська (UA)</a></li>
                  <li><a href="/ro">Română (RO)</a></li>
                  <li class="more-langs"><a href="/languages">»</a></li>
                </ul>
            </div>                     
        </div>
    </div>
    <div id="footer">
        <div id="content-curve"></div>
        <div class="clearfix" id="footer-container">
            <div class="lfloat">
                <div class="ui-text-subtitle">
                    <span> Bluewire · This is a fan-made project and is not affiliated with Facebook.</span>
                </div>
            </div>
            <div class="ui-text-subtitle rfloat">
                <a href="#" title="Experience Bluewire on the go.">Mobile</a> · <a href="#" title="About Bluewire">About</a> · <a href="#" title="Bluewire TOS">Terms</a> · <a href="#" title="Bluewire Privacy">Privacy</a> · <a href="#" title="Contact Bluewire">Contact</a> · <a href="" title="Put your Bluewire profile on your website!">Badges</a> · <a href="https://github.com/Bluewire-OSS" title="Bluewire's GitHub">GitHub</a> · <a href="https://discord.gg/EagXk2Pcfd" title="Bluewire's Discord">Discord</a>
            </div>
        </div>
    </div>
    <div class="alert-wrapper" style="display: none;">
        <div class="alert">
            <div class="top-area-dialog">
                <h2 class="text-alert">errorMessage</h2>
            </div>
            <div class="bottom-area-dialog">
                <p class="error-paragraph">errorDetails</p>
                <button class="button-done">OK</button>
            </div>
        </div>
    </div>
</body>
</html>
